<div class="container">
<h2 mat-dialog-title> 🛒 Список сортов кофе </h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-center"> No. </th>
    <th class="text-center"> Наименование сорта кофе </th>
    <th class="text-center"> Цена за одну чашку TGR </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let variety of coffeeVarieties">
    <td class="text-center">{{ variety.id }}</td>
    <td class="text-center">{{ variety.name }}</td>
    <td class="text-center">{{ variety.price }}</td>
  </tr>
  </tbody>
</table>
</div>
<h1></h1>
<h2> 🎁 Наши акции </h2>
<h4> 🧡 Каждая пятая чашка кофе одного сорта бесплатна! </h4>
<h4> 🧡 При заказе от на сумму от 10 TGR доставка бесплатна! </h4>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="accent" mat-dialog-close>Закрыть</button>
</div>
