<h2> Список сортов кофе </h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th> No. </th>
    <th> Наименование сорта кофе </th>
    <th> Цена за одну чашку TGR </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let variety of coffeeVarieties">
    <td>{{ variety.id }}</td>
    <td>{{ variety.name }}</td>
    <td>{{ variety.price }}</td>
  </tr>
  </tbody>
</table>
<h2> Наши акции </h2>
<h5> 🧡 Каждая пятая чашка кофе одного сорта бесплатна! </h5>
<h5> 🧡 При заказе от на сумму от 10 TGR доставка бесплатна! </h5>
