<h2> 🔎 Детали заказа </h2>
<div>
  <div>
    <label><b> 🕗 Дата создания заказа: </b></label> {{ order.orderDate }}
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center"> Номер сорта кофе </th>
      <th class="text-center"> Количество чашек </th>
      <th class="text-center"> Цена позиции заказа </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of order.orderItems">
      <td class="text-center">{{ orderItem.coffeeVarietyId }}</td>
      <td class="text-center">{{ orderItem.cups }}</td>
      <td class="text-center">{{ orderItem.orderItemPrice }}</td>
    </tr>
    </tbody>
  </table>
</div>
