<h2> Список заказов </h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th> No.</th>
    <th> Имя заказчика</th>
    <th> Адрес доставки</th>
    <th> Сумма заказа</th>
    <th> Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="orders.length == 0">
    <td class="font-italic text-center" colspan="5">
      Список заказов пуст!
    </td>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{ order.id }}</td>
    <td>{{ order.customerName }}</td>
    <td>{{ order.deliveryAddress }}</td>
    <td>{{ order.orderPrice }}</td>
    <td>
      <button (click)="deleteOrderById(order.id!)" class="btn btn-danger" style="margin-left: 10px"> Удалить
      </button>
      <button (click)="orderDetails(order.id!)" class="btn btn-info" style="margin-left: 10px"> Детали</button>
    </td>
  </tr>
  </tbody>
</table>
