.fixed-bottom {
  margin-bottom: 65px;
}
table {
  border: 1px solid #ccc;
  border-spacing: 3px;
}

td, th{
  border: solid 1px #ccc;
}
.collapsed{
  border-collapse: collapse;
}
.separated{
  border-collapse: separate;
}
